<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <div class="logo">
          <a href="#" class="logo__link">SunTour</a>
        </div>
      </div>
      <nav class="header__nav">
        <ul class="nav">
          <li class="nav__item">플랜</li>
          <li class="nav__item">플래너</li>
          <li class="nav__item">카테고리</li>
          <li class="nav__item">로그인</li>
        </ul>
      </nav>
    </header>
    <footer>Footer456</footer>
  </body>
</html>
