:root {
  scroll-behavior: auto;
}
.con1 {
  overflow: hidden;
  border: 2px solid tomato;
}
.carousel {
  display: flex;
  position: relative;
}
.carousel--theme-full {
  width: 300vw;
  height: 60vh;
  transition: all 1s;
  transform: translate(-100vw);
  border: 2px solid teal;
  overflow: hidden;
}
.carousel--theme-three {
  width: 300vw;
  height: 10vh;
  transition: all 1s;
  transform: translate(-100vw);
  border: 2px solid blue;
  overflow: hidden;
  /* margin-bottom: 11vh;
    margin-top: 11vh; */
}
.carousel__box {
  display: flex;
  height: 100%;
  justify-content: center;
  border: 2px solid wheat;
}
.carousel__box--theme-full {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  border: 2px solid wheat;
}
.carousel__box--theme-three {
  display: flex;
  width: 30vw;
  height: 100%;
  justify-content: center;
  border: 3px solid wheat;
}
.carousel__img {
  width: 50%;
  border: 2px solid limegreen;
}
.prev {
  width: 3vw;
  height: 60vh;
  position: absolute;
  z-index: 99;
  color: white;
  background-color: var(--blue);
  left: 0;
  bottom: 31.6vh;
}
.next {
  width: 3vw;
  height: 60vh;
  position: absolute;
  z-index: 99;
  color: white;
  background-color: var(--blue);
  bottom: 31.6vh;
  right: 0;
}
