@import "./reset.css";
@import "./layout.css";
@import "./main.css";

:root {
  --black: #181823;
  --blue: #537fe7;
  --sky: #c0eef2;
  --white: #e9f8f9;
  --korean: "Rubik Bubbles", cursive;
}

body {
  min-height: 100vh;
}

main {
  height: 100vh;
  min-height: 100%;
}
